
<% if user_signed_in? %>
<h1><%= current_user.name %></h1>

<div class="col-md-6">
  <h2>Food</h2>
  <%= render 'form' %>

<% if @foods.any? %>
  <% @food.each do |food| %>
  <h2><%= food.name %></h2>
  <h3><%= food.calories %></h3>
  <% end %>
  <% end %>

</div>
<div class="col-md-6">
  <h2>Exercise</h2>
</div>

<% else %>
  <h1>Welcome to TYO. Track yo health. You can log calories, your exercises. </h1>
<% end %>
