
<% if user_signed_in? %>
  <%= render 'form' %>

  <% @trackers.each do |tracker| %>
  <%= tracker.name %>
  <br>
  <% end %>

<% else %>
  <h1>Welcome to TYO. Track yo health. You can log calories, your exercises. </h1>
<% end %>
