<!DOCTYPE html>
<html>
<head>
  <title>HeathTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='nav navbar-default'>
    <h1>hi</h1>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
